# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num = 6

print(num)

6

##### Assinging float

In [2]:
numfloat = 6.667
print(numfloat)
print(float(num))

6.667
6.0

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 3
num2 = 5.5
num3 = 10
result = num1 + num2
result
#shorthand
#+=

result +=5
print(result)

result = result +5
print(result)

13.5
18.5

##### Subtraction

In [4]:
diff_result = num3 - num2
print(diff_result)
#shorthand = -=

4.5

##### Multiplication

In [5]:
result_mul = num1 *num3
print(result_mul)
#shorthand = *=

30

##### Division

In [6]:
result_div = num3/num1
print(result_div)
#shorthand = /=
#is always a float

3.3333333333333335

##### Floor Division

In [7]:
result_floor = num3//num1
print(result_floor)

#not allowed to have a remainder

3

##### Modulo

In [8]:
result_mod = num3% num1
print(result_mod)
#shorthand %=

1

##### Exponential

In [9]:
square = 5 ** 2
print(square)
#shorthand **=

25

### String Input-Output

##### String Assignment

In [10]:
name = 'Sonia'
randomname = "Chris"
print('Hi ')
print(name)

Hi
Sonia

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print('Hi my name is', name)
print('Full Name:', name, end=' Coley')
sep='<â‚¬throw a seperator in here!>'
#\n = newline

Hi my name is Sonia
Full Name: Sonia Coley

##### String Concatenation

In [12]:
first_name = 'Chris'
last_name = 'Flowers'

full_name = first_name + '' + last_name
full_name += 'isanactor'
print(full_name)

ChrisFlowersisanactor

##### Type Conversion

In [13]:
string_num = '67'
print(type(string_num), string_num)
x= int(string_num)
y = float(string_num)
print(type(x), x)
print(type(y), y)

<class 'str'> 67
<class 'int'> 67
<class 'float'> 67.0

##### input()

In [14]:
#The maint hing to remember about input() is that it always returns a string
som_input = input('Type your age')
print(som_input, type(som_input))

Type your age56
56 <class 'str'>

##### format()

In [15]:
age = input('what is your age?')

result_string = 'You\'re {} years old {}' .format(age, name)

print(result_string)

#better way

#f-string
other_result = f"You're {age} years old {name}"
print(other_result)

#basic f-string formauls = f+ quotes

what is your age?56
You're 56 years old Sonia
You're 56 years old Sonia

##### Old Way (python 2)

In [17]:
#not going to go over

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [20]:
color = input("what is the color? ;")
year = input("what is the year? ;")
make = input("what is the make? ;")
model = input("what is the model? ;")
print(f"The vehicle you are looking for is a {year} {color} {make} {model}")

what is the color? ;98
what is the year? ;56
what is the make? ;8
what is the model? ;5
The vehicle you are looking for is a 56 98 8 5

### If Statements

In [18]:
#a single = is assigning a value 
#a double == is checking for equality
my_var = 7
print(my_var == 7)
print(my_var == '7')

# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
num1 = 5
num2 = 10
if num2 == num1:
    print('Equal!')
else:
    print("Not Equal !")
    
    if num2 >= num1:
        print('num2 is greater or maybe equal')
    elif num1 <= num2:
        print('num1 is less than')

True
False
Not Equal !
num2 is greater or maybe equal

##### 'is' keyword

In [21]:
#We use this when checking for a similar object but not the same value~!
a_num == 34
#if a_num is 34:
    #print('this isthe exact number/object')
if a_num == 34:
    print('this isthe exact number/object')

NameError: name 'a_num' is not defined

##### 'in' keyword

In [22]:
#membership checks@!
new_name = 'Logan'

if 'a' in new_name:
 print('yep it is in there!')

yep it is in there!

##### 'not in' keyword'

In [23]:
    
if 'z' not in new_name:
    print('It is NOT in there!')

It is NOT in there!

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [24]:
name = input('What is your name?')
if 'p' in name:
    print('your name has a p in it')
else: 
    print('your name does not have a p in it')

What is your name?josh
your name does not have a p in it

## Using 'and'/'or' with If Statements

In [25]:
nums1 = 15
nums2 = 3
nums3 = 10
nums4 = 3

#with the 'AND' statement

if nums1 / 5 == nums2 and nums3 - 7 == nums4:
    print('True and True')
    
# with'OR' statement

if nums1 > nums2 or nums3 == nums4:
 print('True and False')

True and True
True and False

### Elif Statements

In [26]:
first_name = "Max"
if first_name == 'Smith':
    print('the name is smith')
elif first_name != 'Max':
    print('name is NOT max')
else:
    print('This is what will print with the string max')

This is what will print with the string max

### Else Statements

In [ ]:
# see above
# Else is not required
# Any other case?

### For Loops

In [27]:
#for keyword, counter, in keyword, condition
# for x in y

for x in range(10):
    print(x)
for n in name:
    print(n)
num_list = '123456789'
for n in num_list:
    print(n)

0
1
2
3
4
5
6
7
8
9
j
o
s
h
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [28]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [29]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for n in name:
    pass #TODO need to come back and finish it

##### Double For Loops

In [30]:
for i in range(5):
    for j in range (5):
        print(f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=0, j=2
i=0, j=3
i=0, j=4
i=1, j=0
i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=2, j=0
i=2, j=1
i=2, j=2
i=2, j=3
i=2, j=4
i=3, j=0
i=3, j=1
i=3, j=2
i=3, j=3
i=3, j=4
i=4, j=0
i=4, j=1
i=4, j=2
i=4, j=3
i=4, j=4

### While Loops

In [31]:
#while keyword, condition statement

v = 20
while v < 10:
    print(v)

##### Looping 'While True'

In [32]:
game_over = False

while True:
    print('infinite loop - Don\'t do this!!!')
    if game_over == False:
        break

infinite loop - Don't do this!!!

##### While & For Loops Used Together

In [34]:
num = 0

while num < 5:
    print(f'while loop iteration:{num}', '\n')
    for x in range(3):
          print(f' for loop iteration:{x}')
    num += 1

while loop iteration:0

 for loop iteration:0
 for loop iteration:1
 for loop iteration:2
while loop iteration:1

 for loop iteration:0
 for loop iteration:1
 for loop iteration:2
while loop iteration:2

 for loop iteration:0
 for loop iteration:1
 for loop iteration:2
while loop iteration:3

 for loop iteration:0
 for loop iteration:1
 for loop iteration:2
while loop iteration:4

 for loop iteration:0
 for loop iteration:1
 for loop iteration:2

### Built-In Functions

##### range()

In [35]:
#Start, Stop (non-inclusive), step
for x in range(10):
    print(x)
for x in range(0, 10, 1):
    print(x)
for x in range(0, 10, 2):
    print(x)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
2
4
6
8

##### len()

In [36]:
# for i in range(len(name)): # for n in name
#     print(name[i], i)
    
print(len(name))

4

##### help()

In [ ]:
help(range)

##### isinstance()

In [37]:
#check a variable to see if its a member of an object family

#isinstance(var,type)
print(isinstance(4.5, float))
if isinstance (4.5, str):
    print("this is not an int!")

True

##### abs()

In [38]:
num = -5
print(abs(num))

5

### Try and Except

In [41]:
# use this whenexpecting an error or bug but you dont want the program to stop/crash

#try keyword: code to execute
#except keyword: what to do

try:
    number_test = 0
    input_num = int(input('Guess a number!'))
    if input_num == number_test:
        print(f"Your number is {str(input_num)} ")
except:
    print('that did NOT WORK!')

Guess a number!yu
that did NOT WORK!

### Lists

##### Declaring Lists

In [42]:
l_1 = []
print(l_1, type(l_1))

name_list = ['Brandt', 'Brendan', 'Audrey']
print(name_list)

[] <class 'list'>
['Brandt', 'Brendan', 'Audrey']

##### Indexing a List

In [43]:
for i in range(len(name_list)):
    print(i, name_list[i])

0 Brandt
1 Brendan
2 Audrey

In [49]:
#bracket notation []
#to access a value - list[<index>]

##### .append()

In [45]:
#list.append(<what we are appendin>)
name_list.append('Rachel')

In [ ]:
name_list

In [46]:
name_list.append('Joel')

In [47]:
name_list

['Brandt', 'Brendan', 'Audrey', 'Rachel', 'Joel']

##### .insert()

In [50]:
name_list.insert(0,'Nicole')
print(name_list)

['Nicole', 'Brandt', 'Brendan', 'Audrey', 'Rachel', 'Joel']

##### .pop()

In [51]:
#removes off the end
print(name_list.pop())
print(name_list)

Joel
['Nicole', 'Brandt', 'Brendan', 'Audrey', 'Rachel']

In [ ]:
name_list.pop(0)
print(name_list)


name_list.remove('Audrey')
print(name_list)

In [52]:
name_list.remove('Audrey')
print(name_list)

['Nicole', 'Brandt', 'Brendan', 'Rachel']

##### del()

In [53]:
# index to be removed, not the value

del (name_list[3])
print(name_list)

['Nicole', 'Brandt', 'Brendan']

##### Concatenating Two Lists

In [54]:
#will append lists together, not add up the elements in each list
l_2 = [0, 1, 2]
l_3 = [3, 4, 5]

combo = l_2 + l_3
print(combo)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [55]:
new_names = ['Max', 'Sam', 'Josh', ['Bill', 'Sally']]
print(new_names)
print(new_names[3])
print(new_names[0])

['Max', 'Sam', 'Josh', ['Bill', 'Sally']]
['Bill', 'Sally']
Max

##### Looping Through Lists

In [56]:
#two basic ways: by index or by the 'in' word

for n in name_list:
    print(n)
for i in range(len(name_list)):
    print(name_list[i])

Nicole
Brandt
Brendan
Nicole
Brandt
Brendan

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [6]:
for i in range(20):
    print(i ** 3)
    if i == 10:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [7]:
# HINT::
# An else after an if runs if the if didnâ€™t
# An else after a for runs if the for didnâ€™t break

for i in range(2,110): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [8]:

age = int(input("Enter your age"))

if age < 18: 
    print("Kids")
    
elif age > 18 and age <= 65:
    print("Adult")
    
else:
    print("Seniors")

Enter your age66
Seniors